<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
<br>

<!--  trial-->

<!--<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">-->
<!--<div class="intro">-->
<!--  <div class="container text-center">-->
<!--    <h2 class="display-3 text-info">Market Insights</h2>-->
<!--&lt;!&ndash;    <p class="display-4 d-none d-sm-block">Attend your examinations online!</p>&ndash;&gt;-->
<!--    <p>Welcome to market insights a research panel dedicated to helping companies in the fast moving consumer goods industry gain valuable insights from a diverse group of consumers. Our mission is to provide accurate and reliable data that can inform product development, marketing strategies, and overall business decisions.-->
<!--</p>-->
<!--      <p>We specialize in recruiting a diverse pool of FMCG consumers who are interested in participating in research studies. Our team of experts has years of experience in recruiting, screening, and managing participants to ensure that the data we collect is of the highest quality.</p>-->
<!--&lt;!&ndash;      <br><br><br>&ndash;&gt;-->
<!--&lt;!&ndash;      end trial&ndash;&gt;-->

<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--video-->
  <div class="hero1">
      <div class="hero">
          <video src="{% static 'image/shop.jpg' %}"> >

          </video>
        <div class="content">
            <h1>Market Insights</h1>
            <p>Welcome to market insights a research panel dedicated to helping companies in the fast moving consumer goods industry gain valuable insights from a diverse group of consumers. Our mission is to provide accurate and reliable data that can inform product development, marketing strategies, and overall business decisions.
</p>
      <p>We specialize in recruiting a diverse pool of FMCG consumers who are interested in participating in research studies. Our team of experts has years of experience in recruiting, screening, and managing participants to ensure that the data we collect is of the highest quality.</p>
<!--      <br><br><br>-->
            <a  href="#" class="btn">Explore</a>
        </div>
      </div>
  </div>
  <br>
<!--  endvideo-->

<!--  intro-->
<!--<div id="upper-page">-->
<!--   <div class="row">-->
<!--      <div class="col-2">-->
<!--         <h1> Welcome to <br> Market Insights!</h1>-->
<!--&lt;!&ndash;         <p>&ndash;&gt;-->
<!--&lt;!&ndash;            Success isn't always about greatness. It's about consistency. Consistent<br> hard work gains success. Greatness will come.&ndash;&gt;-->
<!--&lt;!&ndash;         </p>&ndash;&gt;-->
<!--          <p>Welcome to market insights a research panel dedicated to helping companies in the fast moving consumer goods industry gain valuable insights from a diverse group of consumers. Our mission is to provide accurate and reliable data that can inform product development, marketing strategies, and overall business decisions.-->
<!--</p>-->
<!--      <p>We specialize in recruiting a diverse pool of FMCG consumers who are interested in participating in research studies. Our team of experts has years of experience in recruiting, screening, and managing participants to ensure that the data we collect is of the highest quality.</p>-->

<!--         <a href="#" class="btn">Explore now &#8594;</a>-->
<!--      </div>-->
<!--      <br>-->
<!--      <div class="col-2">-->
<!--         <img src="{% static 'image/shop.jpg' %}">-->
<!--      </div>-->
<!--   </div>-->
<!--  end intro-->


<!--vision mission -->

  <div class="vnm">
  <div class="row">

      <div class="col-4">
             <img src="{% static 'image/vnm1.png' %}" height="370px">

      </div>

      <div class="col-4">
<!--         <img src="{% static 'images/gacio.jpg' %}" height="200px">-->
                    <div class="container text-center">

         <h4>Vision</h4>
                    </div>
          <br>
         <h6>To help  grow new and existing businesses through sustainable market data</h6>
<!--         <p> Click on <u class="important">visit!</u> to view registered businesses around Gacio</p>-->
<!--         <p>Shop at the comfort of your home!!</p>-->
<!--         <a class="btn btn-outline-success" href="#">Visit</a>-->

      </div>
<div class="col-4">
              <div class="container text-center">

         <h4>Mission</h4>
                    </div>
    <br>
         <h6>Create a profitable  business environment from reliable and recurrent data
</h6>
<!--         <p> Click on <u class="important">visit!</u> to view registered businesses around Gacio</p>-->
<!--         <p>Shop at the comfort of your home!!</p>-->
<!--         <a class="btn btn-outline-success" href="#">Visit</a>-->
      </div>

      </div>
      </div>


  <!--end vision mission -->

<!--  test 2-->

<!--  <div>-->

<!--      <div class="small-container">-->
<!--      <h4>Mission</h4>-->
<!--      <p> Create a profitable-->
<!--business environment from-->
<!--reliable and recurrent data</p>-->
<!--      <br>-->
<!--         <h4>Vision</h4>-->

<!--      <p> To help grow new and-->
<!--existing businesses through-->
<!--sustainable market data</p>-->

<!--          </div>-->
<!--            <br><br><br>-->
<!--<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">-->
<br><br>

<!--  how it works-->
  <div class="how">
      <div class="container text-center">
      <h1>How it works</h1>
      </div>
      <p>Participating in our research studies is simple and straightforward. Our online platform makes it easy to sign up, and once you're a member of our panel, you'll be invited to participate in studies that match your interests and demographic information.
We value transparency, and we make sure to keep our participants informed every step of the way. Your privacy and data security is our top priority.
</p>

  </div>
<br><br><br>
<!--  end how it works-->
<!--      services-->
      <div class="small-container">
          <div class="container text-center">
   <h2 class="title">Our services</h2>
          </div>
          <br>
   <div class="row">
      <div class="col-4">
         <img src="{% static 'image/ng.jpg' %}" height="200px" >
           <div class="container text-center">
         <h6>Next-Gen Product Survey</h6>
           </div>
         <p>Market insight offers its trusted partners access to unique and up to date market statistics.
A key development is the customer insight and review platform that enables users to voluntarily share shopping habits and product reviews offering both a quantitative summary and customer satisfaction overview
hop at Gacio Market</p>
<!--         <p> Click on <u class="important">visit!</u> to view registered businesses around Gacio</p>-->
<!--         <p>Shop at the comfort of your home!!</p>-->
           <div class="container text-center">
         <a class="btn btn-outline-success" href="#">Find out more</a>
          </div>
      </div>


      <div class="col-4">
         <img src="{% static 'image/sol.jpg' %}" height="200px">
           <div class="container text-center">
         <h6>Customized Solution</h6>
           </div>
         <p>Our <strong>CUSTOMISED SOLUTIONS</strong> is specially developed to speak to your specific research problem. Think of it a bespoke solution: you approach us with a specific research question and we conduct research, mine insights and develop a solution that suits your needs.</p>
<!--         <p> Click on <u class="important">visit!</u> to view registered businesses around Gacio</p>-->
<!--         <p>Shop at the comfort of your home!!</p>-->
          <br>
          <div class="container text-center">
         <a class="btn btn-outline-success" href="#">Find out more</a>
          </div>
      </div>

             <div class="col-4">
         <img src="{% static 'image/mr.jpg' %}" height="200px" >
           <div class="container text-center">
         <h6>IN-HOUSE SOLUTION</h6>
           </div>
         <p>Our <strong>IN-HOUSE SOLUTIONS</strong>  emanates from our constant work of gathering of insights in the course of our extensive operations across the African continent. Think of this as a ready-to-wear solution — pre-conceived to speak to generic specifications. You need not approach us for this one. We gather the insights we think would be of benefit to you.</p>
<!--         <p> Click on <u class="important">visit!</u> to view registered businesses around Gacio</p>-->
<!--         <p>Shop at the comfort of your home!!</p>-->
  <div class="container text-center">
         <a class="btn btn-outline-success" href="#">Find out more</a>
          </div>
             </div>

</div>
</div>
<!--      end services-->

      <br><br>

  <div class="opinion">
  <div class="container text-center">
          <h6 class="display-3 text-info">Get Paid For Your Opinion</h6 >
      <p>
We help you find paid focus groups near you. Our team gathers focus groups from around the web and works directly with some of the top market research firms to bring you legitimate paid focus group opportunities.
      </p>

    <p class="lead">Sign Up now to become a respondent</p>


    <p><strong> Start Your Journey Here:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up as Respondent</a>

    <br><br><br>
  </div>
      </div>
<!--</section>-->
<!--      &lt;!&ndash;     slider&ndash;&gt;-->
<!--      <div class="slider">-->
<!--          <figure>-->
<!--              <div class="slide">-->
<!--                  <p>Image one</p>-->
<!--                  <img src="{% static 'images/allan.jpg' %}" >-->
<!--              </div>-->

<!--               <div class="slide">-->
<!--                  <p>Image two</p>-->
<!--                  <img src="{% static 'images/student.png' %}" >-->
<!--              </div>-->

<!--               <div class="slide">-->
<!--                  <p>Image three</p>-->
<!--                  <img src="{% static 'images/teacher.png' %}" >-->
<!--              </div>-->
<!--          </figure>-->
<!--      </div>-->

<!--      end-->

<!--  test    -->

<!--  endtest    -->
  </div>
<!--  end-->
  {% include "exam/footer.html" %}

<!--test-->


<!--end test-->
</body>
<style>
.vnm {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 0%, rgba(0,249,255,1) 85%);
    column-count: 1;
    column-gap: 40px;
    column-rule: 4px double #ff00ff;
}

.intro{
    background-image:url('{{ STATIC_URL }}image/mr.jpg');
    background-repeat:no-repeat;
    background-size:100%;
}

.how {
    background: white;
}

.opinion {
    background: #f2f2f2;
}

.hero1 {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}

.hero1 .hero {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.hero1 .hero .content {
    text-align: center;

}

.hero1 .hero .content h1{
    font-size: 130px;
    color: #fff;
    font-weight: 600;
    margin-top: 40px;

}

.hero1 .hero .content a{
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.hero1 .hero .content p{
    font-size: 18px;
    color: #fff;
}


<!--/*** Button ***/-->
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
</style>
</html>
