<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
<!--  <meta charset="utf-8">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--  intro test-->

<!--       <meta charset="UTF-8">-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--      <meta name='viewport' content='width=device-width, initial-scale=1'>-->
<!--<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>-->

<!--      <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--      <link rel="stylesheet" href="path/to/fontawesome.min.css">-->
<!--      {#      #}-->
<!--      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">-->
<!--      {#      #}-->
<!--      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">-->
<!--      <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">-->
<!--      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">-->

<!--  end intro test-->

  <style type="text/css">
    .bs-example {
      margin: 0px;

    }
    .bg-dark {
    background-color: #212529!important;
}
    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;

    }
  </style>
</head>

<body>



  <div class="bs-example">
    <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background-color: #212529;">
    <a style="color: #ffffff;text-decoration: none; " href="/"><font face = "verdana" size =" 5">Market Insights</font><br /></a>
<!--      <img src="{% static 'image/lg.jpg' %}" height="50px">-->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
    
        </div>

        <div class="navbar-nav">
          <a style="padding-left: 30px;" href="/" class="nav-item nav-link"> Home</a>
          <a href="/teacher/teacherclick" class="nav-item nav-link">Client</a>
          <a href="/student/studentclick" class="nav-item nav-link">Respondent</a>
          <a href="/adminclick" class="nav-item nav-link">Admin</a>
          <a href="/contactus" class="nav-item nav-link">Contact</a>
          
        </div>




      </div>
    </nav>
  </div>


</body>

</html>
